.vscode
.venv
__pycache__
.DS_Store
node_modules
package-lock.json

# Ignore Tools except send source
tools/
!tools/send.c

# Igonore Source files except examples
c/*.c
asm/*.asm
!example.*

# Ignore all hex, list and binaries
*.ihx
*.hex
*.lst
*.bin
